:root {
  --tall-poppy: #b72a2a;
  --governor-bay: #26399c;
  --mine-shaft: #333333;
  --buddha-gold: #C3B509;
  --athens-gray: #f9f9fb;
  --banana-mania: #fbe8b7;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family:'Segoe UI', sans-serif;
  font-size: 16px;
  background-image: url("../img/background.png");
  background-size: cover;
  color: var(--athens-gray);
}

a {
  color: var(--buddha-gold);
  text-decoration: none;
}

a:hover {
  color: var(--mine-shaft);
}

b {
  border-bottom: 1px solid var(--tall-poppy);
}

span {
  text-align: left;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  margin-bottom: 5px;
  border-radius: 100px;
  box-shadow: 0 0 0 2px var(--governor-bay), 0 0 15px var(--mine-shaft);
}

.title {
  color: var(--mine-shaft);
  text-align: center;
}

.quote {
  color: var(--banana-mania)
}

.story, 
.plus,
.skills,
.experience,
.education {
  width: 40%
}

.contacts {
  list-style-type: none;
}